.left-sidebar {
  overflow: scroll;
  scrollbar-width: thin;

  /* background-color: #2a2a2a; */
  padding: 0 4px;
  align-self: stretch;
  margin-top: 1px;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  flex-wrap: nowrap;
}
