/* app global css */

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import additional stylesheets */
@import './global.css';
@import './lib.css';
@import './main.css';
@import './shape.css';

/* Color input customization */
input[type="color"] {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
