/* Documentation Page Layout */

.container {
  display: flex;
  height: 100%;
  background: #ffffff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main :global(*::-webkit-scrollbar) {
  width: 6px;
}

.main :global(*::-webkit-scrollbar-track) {
  background: #f3f2f1;
}

.main :global(*::-webkit-scrollbar-thumb) {
  background: #c8c6c4;
  border-radius: 3px;
}

.main :global(*::-webkit-scrollbar-thumb:hover) {
  background: #a19f9d;
}
