.object-svg {
  color: #659dc5;
}
.in-alarm .pump {
  animation: color_change 1s infinite;
}
@keyframes pump-alarm {
  0% {
    fill: red;
  }
  50% {
    fill: currentColor;
  }
  100% {
    fill: red;
  }
}
@keyframes color_change {
  0% {
    fill: red;
  }
  50% {
    fill: currentColor;
  }
  100% {
    fill: red;
  }
}
.active .pump .rotating-middle {
  fill: black;
  animation: pump-spin 3s linear infinite;
}
.in-alarm .pump .pump-background {
  animation: heating-coil-alarm 1s infinite;
}
@keyframes pump-alarm {
  0% {
    fill: red;
  }
  50% {
    fill: currentColor;
  }
  100% {
    fill: red;
  }
}
.active:not(.in-alarm) .pump .pump-background {
  fill: #27ae60;
}
@keyframes pump-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* thermal-wheel */
.in-alarm .thermal-wheel-background {
  animation: thermal_wheel_alarm 1s infinite;
}
@keyframes thermal_wheel_alarm {
  0% {
    fill: red;
  }
  50% {
    fill: currentColor;
  }
  100% {
    fill: red;
  }
}

.active .thermal-wheel {
  animation: thermal-wheel-spin 1.6s linear infinite;
}

.active .thermal-wheel-background {
  fill: #66c492;
}

@keyframes thermal-wheel-spin {
  from {
    transform: translate(0px, 4px);
  }
  to {
    transform: translate(0px, -4px);
  }
}
